<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Lab 7: Famous Quotes - Admin Section</title>
</head>
<body class="text-center">
    <%-include('partials/nav.ejs')%>
    
    <h1> Admin Section </h1>
        
    <div class="">
        <form action="/addAuthor" method="GET">
            <button class="btn btn-success"> Add Authors </button>
        </form>

        <br>

        <form action="/addQuote">
            <button class="btn btn-success"> Add Quotes </button>
        </form>

        <br>

        <form action="/authors" method="GET">
            <button class="btn btn-success"> All Authors </button>
        </form>

        <br>

        <form action="/quotes">
            <button class="btn btn-success"> All Quotes </button>
        </form>
    </div>

    <%-include('partials/footer.ejs')%>
</body>
</html>