<!DOCTYPE html>
<html>
    <head>
        <%-include('partials/header.ejs')%>
        <title>Profile</title>
    </head>
    <body>
        <%-include('partials/nav.ejs')%>

        This is my profile info.<br>

        This page must be password-protected!

        <%-include('partials/footer.ejs')%>
    </body>
</html>